body {
    background-color:rgb(69, 196, 235);
    color: black;
}

header h1 {
    display: block;
    text-align: center;
}

#begin-button {
    display: block;
    text-align: center;
    align-items: center;
}